#
# VHOST: {{ dns_public_domain }}
#

<VirtualHost *:80>
  ServerAdmin webmaster@{{ dns_public_domain }}
  ServerName {{ dns_public_domain }}
  DocumentRoot {{ itop_root }}
  ErrorLog {{ apache_virtual_host_dir }}/logs/error.log
  CustomLog {{ apache_virtual_host_dir }}/logs/access.log combined

  <Directory {{ itop_root }}/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

</VirtualHost>
